<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>
        New Message
    </h1>
    <% if (user) {%>
        <form action="" method="POST">
            <label for="title">Title</label>
            <input name="title" type="textarea" />
            <label for="message">Message</label>
            <input name="message" type="textarea" />
            <button>Submit</button>
        </form>

        <% if (errors) { %>
            <ul>

                <% errors.forEach((error)=>{%>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
                <% } else { %>
                    <div>This page is protected. Please login first.</div>
                    <%}%>
</body>

</html>