<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>
        Clubhouse signup
    </h1>
    <% if (user) {%>
    <form action="" method="POST">
        <label for="passcode">Enter Passcode to join the Clubhouse</label>
        <input name="passcode" type="password" />
        <button>Join the Club</button>
    </form>

    <% if (errors) { %>
        <ul>

            <% errors.forEach((error)=>{%>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
    <% } else { %>
        <div>This page is protected. Please login first.</div>
        <%}%>
</body>

</html>