<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1><%= title %></h1>
    <form action="" method="POST">
        <label for="first_name">First Name</label>
        <input name="first_name" type="text" />
        <label for="last_name">Last Name</label>
        <input name="last_name"  type="text" />
        <label for="email">E-Mail</label>
        <input name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="confirmPassword">Confirm Password</label>
        <input name="confirmPassword" type="password" />
        <button>Sign Up</button>
    </form>

    <% if (errors) { %>
        <ul>
            
            <% errors.forEach((error)=>{%>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
</body>

</html>